.cardLeft{
    position: relative;
    display: flex;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 250px;

}

.cardLeft .textCardLeft{
    margin-top: 7%;
    z-index: 1;
    margin-left: 5%;
    width: 45%;
    height: 400px;
    
}

.lineTextDiv{
    width: 100%;
    height: 10px;
    background-color: rgb(138, 105, 69);
}

.tecnologiesProject{
    width: 100%;
    height: auto;
}

.hp{
    color: rgb(138, 105, 69);
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
} 

.tecnologiesProjectH{
    margin-top: 35px;
    font-weight: 800;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 30px;
    font-size: 25px;
    color: white;
}

.pHandH{
    padding-right: 8px;
    font-family: 'Nanum Gothic', sans-serif;
    padding-top: 17px;
    color: white;
    font-size: 16px;
    line-height: 170%;
}

.btns{
    margin-top: 30px;
    width: 70%;
    height: auto;
}

.btns a{
    border: 2px solid white;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 6%;
    padding-right: 6%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nanum Gothic', sans-serif;
}

.rigthButton{
    margin-left: 10%;
}

.cardLeft .imageCard{
    font-weight: 800;
    right: 0;
    z-index: 0;
    position: absolute;
    width: 65%;
    height: auto;
    background-color: transparent;
}

.imageCard img {
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor .imageCard */
  }


  .rigthButton:hover{
    transition: 550ms;
    color: rgb(138, 105, 69);
    border: 2px solid rgb(138, 105, 69);
    font-size: 19px;
  }

  .leftButtonH:hover{
    transition: 550ms;
    color: rgb(138, 105, 69);
    border: 2px solid rgb(138, 105, 69);
    font-size: 19px;
  }

  @media (max-width: 1024px) {
    .btns {
        width: 80%;
    }
    .cardLeft .textCardLeft {

        height: auto;
    }
  }

@media (max-width: 820px){
    .cardLeft .imageCard {

        width: 100%;
    }
    .cardLeft .textCardLeft {
        margin-top: 37%;
        margin-left: 15%;
        width: 70%;
    }

    .tecnologiesProjectH p{
        margin-left: 5%;
    }
    .textCardLeft h1 {
        margin-left: 5%;
    }
    .pHandH {
        margin-left: 5%;

    }
    
    .btns {
        margin-left: 5%;
        width: 80%;
    }
}

@media (max-width: 431px){
    .cardRight .textCardRight {
        left: 0;
        margin-top: 47%;
        margin-right: 0;
        width: 100%;
        height: auto;
    }
}