.headerDiv{
    width: 100%;
    height: auto;
    min-height: 750px;
    background-color: #140e1a;
}
  
.contactMe{
    z-index: 9;
    position: fixed;
    top: 0;
    padding-top: 5px;
    margin-left: 93%;
    width: 6%;
    height: 90px;
    background-color: transparent;
}

.contactMe img{
    margin-top: 30px;
    margin-left: 10%;
    width: 50%;
    background-color: transparent;
}

.contactMe img:hover{
    transition: 350ms;
    transform: 110%;
    cursor: pointer;
}

.textHeader{
    margin-top: 230px;
    width: 100%;
    height: auto;
}

.centerDivText{
    width: 70%;
    height: auto;
    margin-left: 15%;
}

.centerDivText h1{
    text-align: center;
    font-size: 140px;
    font-family: 'Nanum Gothic', sans-serif;
    color: aqua;
}

.centerDivText h2{
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    text-align: center;
}

.centerDivText p {
    font-weight: 100;
    font-family: 'Nanum Gothic', sans-serif;
    padding: 15px;
    font-size: 23px;
    color: white;
    text-align: center;
}

/* Medias para hacer responsive */
/* Media Query para pantallas con ancho máximo de 1024px (sin restricción de altura) */
@media (max-width: 1024px) {
    .textHeader{
        margin-top: 185px;
    }
    .contactMe {
        margin-left: 93%;
    }
    .contactMe img {
        margin-left: 0%;
        width: 70%;
    }

    /* Otras reglas específicas para esta resolución */
}



@media (max-width: 912px) {
    .textHeader {
        margin-top: 505px;
    }

    .contactMe {
        margin-left: 90%;
    }

    .contactMe img{
        width: 90%;
    }

    /* Otras reglas específicas para esta resolución */
}

/* Media Query para pantallas con ancho máximo de 912px */
@media (max-width:820px) {
    .textHeader {
        margin-top: 400px;
    }
    .centerDivText h1 {
        font-size: 130px;
    }
}


@media(max-width:768px){
    .centerDivText h1 {
        font-size: 115px;
    }
    .centerDivText h2 {
        font-size: 25px;
    }
    .centerDivText p {
        font-size: 20px;
    }
}

@media(max-width:540px){
    .textHeader {
        margin-top: 267px;
    }
    .centerDivText h1 {
        font-size: 73px;
    }
    .centerDivText h2 {
        font-size: 12px;
    }
    .centerDivText p {
        font-size: 11px;
    }
}


@media(max-width: 431px){
    .textHeader {
        margin-top: 400px;
    }
    .centerDivText h2 {
        font-size: 16px;
    }
    .centerDivText h1 {
        font-size: 63px;
    }
    .headerDiv {
        min-height: 500px;
    }
}

@media (max-width:415px) {
    .contactMe img {
        width: 100%;
    }
    .contactMe {
        margin-left: 86%;
    }
}

@media (max-width: 376px){
    .textHeader {
        margin-top: 250px;
    }
    .centerDivText h2 {
        font-size: 11px;
    }
    .centerDivText h1 {
        font-size: 57px;
    }
}

@media (max-width:361px){
    .textHeader {
        margin-top: 320px;
    }
    .centerDivText h1 {
        font-size: 54px;
    }
    .centerDivText h2 {
        font-size: 10px;
    }
    .centerDivText p {
        font-size: 10px;
    }
}