.lilLine{
    width: 100%;
    height: 10px;
    background-color: aquamarine;
}

.plil{

    color: aquamarine;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
}

.lbl:hover{
    transition: 550ms;
    font-size: 19px;
    color: aquamarine;
    border: 2px solid aquamarine;
}

.rbl{
    margin-left: 6%;
}

.rbl:hover{
    transition: 550ms;
    font-size: 19px;
    color: aquamarine;
    border: 2px solid aquamarine;
}