.skillsSection{
    width: 100%;
    margin-top: 100px;
    height: auto;
}

.skillsSection h1{
    margin-bottom: 25px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

.imagesTecnologies{
    width: 90%;
    margin-left: 3%;
    height: auto;
}

.imagesTecnologies ul{
    padding-top: 10px;
    display: flex;
}

.imagesTecnologies li{
    background-color: transparent;
    list-style: none;
    text-align: center;
    width: 10%;
    margin-left: 6%;
}

li:hover {
    transition: 250ms;
    cursor: pointer;
    transform: scale(1.1);
}


.imagesTecnologies p{
    background: transparent;
    padding-top: 10px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
}

@media (max-width: 1024px) {
    .imagesTecnologies {
        width: 100%;
        margin-left: 0%;
    }
    .imagesTecnologies li {
        width: 10%;
        margin-left: 1%;
    }
}

@media (max-width: 768px){
    .imagesTecnologies {
        width: 80%;
        margin-left: 19%;
    }
    .imagesTecnologies ul {
        flex-wrap: wrap;
        display: flex;
    }
    .imagesTecnologies li {
        width: 26%;
        margin-left: 0%;
    }
    .imagesTecnologies p {
        padding-bottom: 15px;
    }
}

@media(max-width: 431px){
    .skillsSection {

            margin-top: 306px;
        }
    
}


@media (max-width: 391px) {
    .skillsSection h1 {
        margin-top: 60px;
    }

}